body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    background-color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chess-board {
    width: 480px;
    height: 480px;
    border: 2px solid #333;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 20px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    transition: background-color 0.2s;  
    width: 60px;
    height: 60px;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.selected {
    background-color: #7b61ff !important;
}

.valid-move {
    background-color: #69954c !important;
}

.piece {
    user-select: none;
}

.game-info {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.game-info p {
    margin: 10px 0;
    font-size: 1.2em;
}

#reset-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
#reset-button:hover {
    background-color: #0056b3;
}


.computer-move {
    background-color: #69954c !important;
}